@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-in-out {
    animation: fadeInOut 2s infinite;
}

.move-left {
    transition: left 2s ease-out;
}

.move-left:hover {
    left: -100px;
}
